{#---
name: Intermediate Model
description: Generate a dbt intermediate model that joins multiple upstream models on a shared key.
category: dbt
variables: model_name, description, upstream_models, join_key
---#}

with
{%- for upstream in upstream_models %}
{{ upstream }} as (
    select * from {{ '{{' }} ref('{{ upstream }}') {{ '}}' }}
){% if not loop.last %},{% endif %}
{%- endfor %}

select
    {{ upstream_models[0] }}.*

from {{ upstream_models[0] }}
{%- for upstream in upstream_models[1:] %}
left join {{ upstream }}
    on {{ upstream_models[0] }}.{{ join_key }} = {{ upstream }}.{{ join_key }}
{%- endfor %}
